@model MvcMovie.Models.Modalidade
@{
    ViewData["Title"] = "Cadastrar Modalidade";
}
<h1>Cadastrar Modalidade</h1>
<hr />
<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="mb-3">
        <label asp-for="Nome" class="form-label"></label>
        <input asp-for="Nome" class="form-control" />
        <span asp-validation-for="Nome" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">Turmas</label>
        <select name="selectedTurmas" multiple class="form-select" asp-items="ViewBag.Turmas">
        </select>
        <small class="form-text text-muted">Segure Ctrl para selecionar múltiplas turmas</small>
    </div>
    <div>
        <input type="submit" value="Cadastrar" class="btn btn-primary" />
        <a asp-action="Index" class="btn btn-secondary">Voltar à Lista</a>
    </div>
</form>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
